* {
    box-sizing: border-box;
   
}
html {
    margin: 0 auto;
    box-sizing: border-box;

}
img {
    
    max-width: 100%;
    max-height: 10rem;
    border-radius: 11px 11px;
    box-shadow: 0 3px;
}
body {
    display: block;
    height: 100vh;
    text-align: center;
     background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);

}
.heading {
    border-bottom: 1px solid black;
}
h3 {
    border-top: 5px solid black;
    padding: 10px 10px;
    width: 100%;
}

.body {
    font-family: verdana, sans-serif;
    font-style: oblique;
    font-size: 1rem;
    font-weight: normal;
    color: black;
   
    background: linear-gradient(to bottom right, #8dc8eb, #165b9b);
     
    height: 100vh; 
}
p {
   font-style: italic;
}
.sign{
    display: inline-block;
    margin: 0 auto;
    padding: 0 auto;
    width: 10%;
    height: 10vh;
    font-family: verdana;
    font-size: 1.5rem;
    border-radius: 10%;
    box-sizing: border-box;
    box-shadow: 0 10px;
    margin-bottom: 3.1rem;
}
footer {
    display: inline-block;
}
